/* Intro Section Styles */

.intro {
  padding-top: var(--section-l);
  padding-bottom: var(--section-xxl);
  isolation: isolate;
  position: relative;
}

.intro__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, min-content);
  max-width: var(--content-width);
  position: relative;
  z-index: 99999999;
}

.intro__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
  grid-row: 1 / 4;
}

.intro__title {
  width: 16ch;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  z-index: 3;
  /* line-height: 1.3!important; */
}

/* Black bold text for intro title spans */
.intro__title span {
  color: var(--color-black);
  font-weight: 700;
  background-color: var(--color-primary);
}

.intro__content-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 2;
  margin-top: -100px;
}

.intro__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.intro__content-heading {
  font-weight: 400;
  text-transform: uppercase;
}

.intro__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  height: 100%;
}

.intro__content-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.intro__content-description {
  width: 80%;
}

.intro__image-wrapper {
  display: flex;
  justify-content: end;
  margin-top: -40px;
  position: relative;
  z-index: 9999;
  align-items: end;
  align-items: end;
  
}


.intro__image {
  position: relative;
}

.intro__image img {
  width: clamp(50%, 100vw, 100%);
  /* height: clamp(50%, 100vh, 100%); */
}

.intro__content-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.intro__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.intro__content-heading {
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  padding-left: var(--space-m);
  border-left: 7px solid var(--color-primary);
}

.intro__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding-top: var(--section-xxl);
  grid-column: 1;
  grid-row: 4 / 8;
}

.intro__content-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.intro__content-description {
  width: 94%;
}

.intro__image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -40px;
  position: relative;
  grid-column: 2;
  grid-row: 4 / 8;
}

.intro__image {
  position: relative;
}

.intro__image::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  inset: 0;
}

.btn--tools-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: var(--space-xs);
  column-gap: 8px;
  bottom: 0;
}

@media (max-width: 1270px) {
  .intro__image img {
    height: 530px;
  }

  .intro__content-wrapper {
    padding-top: var(--section-l);
  }

  .btn--tools-wrapper .tag:nth-child(n+6) {
    display: none !important;
  }
}

@media (max-width:900px) {
  .intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-top: var(--space-xxl);
  }

  .intro__content-grid {
    display: flex;
    flex-direction: column;
  }

  .intro__content-wrapper{
    order: 1;
  }
  .intro__content-wrapper{
    padding: 0;
  }
  .intro__image-wrapper {
    justify-content: center;
  }
  .intro__content-wrapper {
    align-items: center; /* Center vertically */
  }
  
  .intro__content-heading,
  .intro__content-description,
  .intro__content-description {
    text-align: center; 
  }

  .intro__content-heading-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
 .intro__content{
  gap: var(--space-xl);
 }
 .intro__title-wrapper{
  margin-bottom: var(--space-xxl);
 }

 .btn--tools-wrapper{
  display: none;
 }

}

@media (max-width: 500px) {
  .intro__image img {
    height: 480px;
  }
}


























